@model Ch24ShoppingCartMVC.Models.CheckoutViewModel

@{
    ViewBag.Title = "Checkout";
}



<h2>Checkout</h2>
@if (Model == null)
{
    <p>There is no item to checkout</p>
}
else
{
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th style="border: 1px solid #ddd;" width="150">
                @Html.DisplayNameFor(model => model.ProductInCart.Cart[0].Name)
            </th>
            <th style="border: 1px solid #ddd; " width="150">
                @Html.DisplayNameFor(model => model.ProductInCart.Cart[0].UnitPrice)
            </th>
            <th style="border: 1px solid #ddd;" width="150">
                @Html.DisplayNameFor(model => model.ProductInCart.Cart[0].Quantity)
            </th>
            <th style="border: 1px solid #ddd;" width="150">
                @Html.DisplayNameFor(model => model.ProductInCart.Cart[0].TotalPrice)
            </th>
        </tr>
        @foreach (var item in Model.ProductInCart.Cart)
        {
            <tr>
                <td style="border: 1px solid #ddd;" width="150">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td style="border: 1px solid #ddd;" width="150">
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td style="border: 1px solid #ddd;" width="150">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td style="border: 1px solid #ddd;" width="150">
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
            </tr>
        }
    </table>

    <form id="frmCheckOut" action="/Checkout/Index/" method="post">

        <p>Total Before Tax: @Model.SubTotal</p>
        <p>Total After Tax: @Model.Total</p>
        <h3>Customer Details</h3>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.Customer.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Customer.Name, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Customer.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Customer.Address, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Customer.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Customer.Email, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <h3>Payment Details</h3>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.CreditType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreditType, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CardNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CardNumber, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div><br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="         Pay       " />
            </div>
        </div>
        
    </form>
}